/.DS_Store
#*.*#
/terraform/#variables.tf#
/terraform/variables.tf
.terraform/
/terraform.tfstate.backup
/terraform.tfstate
/.terraform.tfstate.lock.info
*~
makefile

templates/\.DS_Store
/templates/launch/.#server_worker.tpl
/templates/launch/#server_worker.tpl#
